* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-huignanco: #75b418;
  --greenhover: #b8ff5c;
  --color-btn-hover: #7dc446;
  --dark-300: #333;
  --dark-500: #272727;
  --color-blue-huinganco: #2596be;
  --clr-darkGreen-huin: #689f16;
  --clr-sweetRed: #ff6294;

  --font-title: 30px;
  --font-normal: 14px;
  --fs-text-16: 16px;
  --font-subtitle: 24px;

  --nav-loadTime: 300ms;

  /* quita el color del touch en mobile */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  color: white;
  background: #2595be80;
}

::-webkit-scrollbar {
  background-color: #333;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: #aaaaaa;
  border: 3.2px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

body {
  background-color: var(--backG);
}

/*-------------------------
          DARK THEME
--------------------------*/
html {
  /* fondo */
  --backG: #2d2d2d;

  /* titles */
  --title-color: #7dc446;

  /* header nav */
  --header-backG: #272727;
  --header-txtColor: #ffff;

  --nav-btn-hover: #d7ff9c;
  /* joyas */
  --joyas-card-backG: #222;
  --joyas-txt: #fff;
  --joyas-title-btn: #87c924;
  --joyas-title-btn-hover: #c5ff6e;
  /* octubre */
  --octubre-backG: #272727;
  --octubre-btn-backG: #111;
  /* form */
  --form-consulta-title: #87c924;

  /* -------------------ReservaTheme-------------------  */

  /* form */
  /* backG=BackGround */
  --form-txt-dtochile: #bab9b9;

  --form-input-backG: #222;
  --form-input-txt: #fff;
  --form-label-txt: #fff;
  --form-input-border: #666;

  --form-total-backG: #02465f;
  --form-total-border-backG: #1b7c9f;
  --form-inputToolkit-txt: #bab9b9;
  --form-right-outline: #7dc446;

  --form-autocomplete-backG: #1f292c;
  --form-autocomplete-txt: #fff;

  --form-inputToolkit-FOCUS-txt: #7dc446;

  --form-submit-btn-backG: #67a836;
  /* animacion placeholder */
  /* formJava */
  --form-valid-txt: #7dc446;
  --form-valid-border: #abff6a71;

  /* card */
  --card-backG: #222;
  --card-km-txt: white;
  --card-km-boxShadow: #222;

  --card-svg-backG: #161616
}

/*-------------------------
          LIGHT THEME
--------------------------*/
html[data-theme="dark"] {

  /* Titulos */
  --title-color: #75b418;

  /* fondo */
  --backG: #f9fbfd;

  /* Header */
  --header-backG: #ffffff;
  --header-txtColor: black;

  --nav-btn-hover: #75b418;
  /* joyas */
  --joyas-card-backG: #fff;
  --joyas-txt: #222;
  /* octubre */
  --octubre-backG: #444;
  --octubre-btn-backG: #383838;
  /* form */
  --form-consulta-title: #75b418;

  /* -------------------RESERVA THEME-------------------  */

  /* form */
  --form-input-backG: #fff;
  --form-input-txt: black;
  --form-label-txt: black;
  --form-input-border: #d7d7d7;

  --form-total-backG: #2596be;
  --form-total-border-backG: ##46beea;
  --form-inputToolkit-txt: #888;
  --form-right-outline: #689f16;

  --form-inputToolkit-FOCUS-txt: #689f16;

  --form-autocomplete-backG: #effbff;
  --form-autocomplete-txt: #000000;

  --form-submit-btn-backG: #67a836;

  /* formJava */
  --form-valid-txt: #689f16;
  --form-valid-border: #76b41850;


  /*cardsReserva*/
  --card-backG: white;
  --card-km-txt: black;
  --card-km-boxShadow: #d0d0d0;
  --card-svg-backG: rgb(241, 241, 241);


}



/* burger Mobile */
.dropdown {
  display: none;

}

iframe {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* -------------------HEADER-------------------  */
.logo-mobile {
  display: none;
}

.header {
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.5em;
  top: 0;
  background-color: var(--header-backG);
}


#logoDesktop {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;

}

#logoDesktop span {
  color: #2c77a8;
  text-align: end;

  font-size: 30px;
  margin-left: 10px;
  font-weight: 500;
}

.banner-logo {
  margin-left: 20px;
  width: 40px;

}


/*-------------------------
          NAV BAR
--------------------------*/

.nav {
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}


.btn-nav {
  text-decoration: none;
  color: var(--header-txtColor);
  font-weight: 400;
  font-size: 17px;
  padding: 5px;
  transition: color 0.2s ease-in-out;
}

.btn-nav:hover {
  color: var(--nav-btn-hover);
}



/*-------------------------
          ICON THEMES
--------------------------*/

.label-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  height: 100%;
}

.sun-icon {
  font-size: 24px;
  transition: 1s ease-in-out;
  margin-top: 2px;
  margin-right: 5px;
  color: var(--color-blue-huinganco);
}

.sun-icon:hover {
  color: #0a485f;
}

.moon-icon {
  margin-top: 2px;
  margin-right: 5px;
  fill: var(--color-blue-huinganco);
  color: var(--color-blue-huinganco);
  width: 50px;
  opacity: 0;
  scale: 0.5;
  transition: 0.2s ease-in-out;
  position: absolute;
  color: var(--color-blue-huinganco);
}

.moon-icon:hover {
  fill: #46ceff;
}

.theme {
  opacity: 0;
  position: absolute;
}

/* theme Animation */
body:has(input[value="theme"]:checked) .moon-icon {
  opacity: 1;
  scale: 1;
  transition: 1s ease-in-out;
  color: var(--color-blue-huinganco);
  animation: 2s moon-rotate;
}

@keyframes moon-rotate {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

body:has(input[value="theme"]:checked) .sun-icon {
  scale: 0.5;
  opacity: 0;
  animation: 1s sun-rotate;
}

@keyframes sun-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*-------------------------
          BANNER
--------------------------*/
.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  box-shadow: 0px 2px 5px #333333ab;
  background-image: url(img/Banner.webp);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 5px #333333ab;
  margin-bottom: 5em;
}
.banner-background{
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7);
}
.content-banner {
  color: floralwhite;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  opacity: 0;

  animation: bannerStart 4s forwards;
}
@keyframes bannerStart {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.banner-text{
  width:clamp(18rem,50%,60rem);

}
.banner-titulo {
  color: floralwhite;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: clamp(29px,5vw,40px);
}

.banner-btn{
  text-decoration: none;
  color: white;
  margin-top: 1em;
  font-size: 18px;
}
.banner-btn:hover{

  color: var(--nav-btn-hover);
}

.btn-banner {
  padding: 0.1em 0.8em;
  color: floralwhite;
  margin-top: 10px;
  background-color: var(--octubre-btn-backG);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.2s;
  outline: 2px solid floralwhite;
}

.btn-banner:hover {
  color: #222;
  background-color: floralwhite;
  outline-offset: 2px;
}

#btn-reserva {
  color: var(--joyas-title-btn-hover);
  outline-color: var(--joyas-title-btn-hover);
  margin-left: 10px;
  font-weight: 500;
}

#btn-reserva:hover {
  background-color: var(--joyas-title-btn-hover);
  color: #333;
  outline-offset: -2px;
  outline: 4px solid #333;
}

/* end Banner */

/*-------------------------
      JOYAS HUINGANCO
--------------------------*/
#cnt-titulo-joyas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--form-consulta-title);
  margin: 2em 0px;
  height: 80px;
  flex-direction: column;
}
.titulo-joyas {
  font-size: var(--font-title);
  font-style: italic;
  font-weight: 500;
}

.ctn-joyas {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  row-gap: 20px;
  column-gap: 5rem;
  flex-direction: grid;
  color: #202020;
  flex-wrap: wrap;
  margin-bottom: 4em;
  
}
.bloque-joyas:hover .titulo-bloque-joyas{
 
  text-decoration: underline;
  filter: brightness(1.3);
}
.bloque-joyas {
  flex-basis: 300px;
  flex-grow: 0.2;
  min-height: auto;
  transition: 0.2s ease-in-out;
  margin-bottom: 2rem;
  cursor: pointer;
}

.titulo-bloque-joyas {
  color: var(--joyas-title-btn);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.texto-bloque-joyas {
  font-size: var(--fs-text-16);
  color: var(--joyas-txt);
  
}
.anchor-titulo-bloque-joyas{
  text-decoration: none;
  color: var(--joyas-title-btn);
}
.bloque-img-joyas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 3px 0px 0px;
  margin-bottom: 5px;
}

.ctn-altura-dificultad {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: var(--font-normal);
  margin-top: 1rem;
}

.dificultad , .altura{
  font-weight: 500;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  display: inline-block;
  color: black;
}
.altura {
  background-color: #d6d6d6;
}
#Baja {
  background-color: #b6ff85;
}
#Media {
  background-color: #ffba65;
}
#Alta {
  background-color: #fa7373;
}

/*-------------------------
        OCTUBRE
--------------------------*/
#banner-octubre {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 70vmin;
}

.octubre-huignanco {
  text-align: left;
  width: 50%;
  /* Ancho caja texto */
  min-height: 100%;
  padding: 20px;
  background-color: var(--octubre-backG);
  color: floralwhite;
}

.octubre-text {
  margin-right: 20px;
  margin-top: 20px;
  font-size: 16px;
  max-height: 45vmin;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;
  text-overflow: ellipsis;
}

.text-desktop {
  padding-top: 20px;
}

/*-------------------------
 CAROUSEL OCTUBRE
--------------------------*/
.section-carousel {
  width: 50%;
  /* ancho imagen */
}

.carousel {
  /* height: 32em; */
  height: 70vmin;
  width: 100%;
  position: relative;
}

.carousel>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel-button {
  background: none;
  z-index: 1;
  /* para ponerlo sobre los otros elementos */
  position: absolute;
  top: 50%;
  /* Para centrar */
  transform: translateY(-50%);
  border: none;
  font-size: 5em;
  cursor: pointer;
  color: #ffffffbf;
  transition: 0.1s linear;
}

.carousel-button:hover,
.carousel-button:hover {
  color: #d0fe8a;

  scale: 1.01;
}

.carousel .next {
  right: 20px;

  width: 60px;
}

.carousel .next:hover {
  right: 15px;
}

.prev {
  left: 20px;
  width: 60px;
}

.prev:hover {
  left: 15px;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
}

.slide[data-active] {
  opacity: 1;
}

.slide>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Mobile */
@media (max-width: 800px) {
  #banner-octubre {
    margin-bottom: 20px;

    flex-wrap: wrap-reverse;

    height: 100%;
  }

  .slide>img {
    object-fit: cover;
    object-position: center;
  }

  .btn-octubre-conocemas {
    padding: 2px 7px 2px 7px;
  }

  .section-carousel {
    width: 100%;
    height: 62vmin;
  }

  .octubre-huignanco p {
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .octubre-huignanco h2 {
    font-weight: 500;
  }

  .carousel {
    height: 100%;
  }

  .carousel-button {
    font-size: 3em;
  }

  .octubre-huignanco {
    width: 100%;
    text-align: center;
  }
}


/*-------------------------
   FORMULARIO CONSULTAS
--------------------------*/

.ctn-comentario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  flex-direction: column;
  color: var(--form-consulta-title);
  margin-bottom: 20px;
}

.titulo-comentario {
  font-size: var(--font-title);
  font-weight: 500;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 300px;
  gap: 10px;
}

.ctn-form {
  width: 50%;
  height: 280px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.ctn-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-input {
  width: 48%;
  padding: 0.4em 0em;
  font-size: 1em;
  padding-left: 10px;
  transition: 0.2s;
  border-radius: 8px;
  border: 1px solid var(--form-input-border);
  background-color: var(--form-input-backG);
  color: var(--form-input-txt);
}

.form-input ::placeholder {
  font-size: 1em;
  color: var(--);
}

.form-input:focus {
  outline: 1px solid var(--color-huignanco);
}

.textarea {
  font-size: 1em;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  resize: none;
  transition: 0.2s;
  border-radius: 8px;
  border: 1px solid var(--form-input-border);

  background-color: var(--form-input-backG);
  color: var(--form-input-txt);
}

.textarea::placeholder {
  font-size: 1em;
  font-weight: 500;
}

.textarea:focus {
  outline: 1px solid var(--color-huignanco);
}

.btn-enviar {
  width: 100%;
  background-color: var(--form-submit-btn-backG);
  color: white;
  font-weight: 500;
  padding: 0.5em 0em;
  transition: 0.2s;
  border: 0;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-enviar:hover {
  background-color: #7dc446;
}

@media (max-width: 891px) {
  .ctn-input {
    flex-direction: column;
    gap: 10px;
  }

  .form-input {
    width: 100%;
  }
}

/*-------------------------
          FOOTER
--------------------------*/

.footer-wave {
  position: relative;
  margin-top: 55px;
  outline: 2px solid #272727;
}

.custom-shape-divider-bottom-1664583424 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664583424 svg {
  position: relative;
  display: block;
  width: calc(240% + 0.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1664583424 .shape-fill {
  fill: #272727;
}


footer {
  width: 100%;
  height: 300px;
  background-color: rgb(39, 39, 39);
}

.footer-cnt {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
  background-color: rgb(39, 39, 39);
  padding-top: 1em;
  width: 100%;
  flex-direction: row;
  gap: 5vw;
  padding-left: 2em;
}

.footer-caja {
  color: floralwhite;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3em;
  gap: 10px;
}

h2 {
  font-weight: 500;
}

.footer-caja h2 {
  color: var(--color-huignanco);
}

.footer-caja h2 b {
  font-weight: 500;
}

.btn-servicios {
  color: floralwhite;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.btn-servicios:hover {
  color: greenyellow;
}

#mail-turismo {
  color: var(--color-huignanco);
  text-decoration: none;
  transition: 0.5s;
  font-size: 16px;
}

#mail-turismo:hover {
  color: greenyellow;
}

#form-news {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 30px;
  width: 300px;
}

#text {
  position: absolute;
  transform: translateY(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 250px;
  text-align: center;
}

#titulo-news {
  color: var(--color-blue-huinganco);
}

.input-news {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-left: 10px;
  border: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: 0.2s linear;
  outline: none;
  background-color: floralwhite;
}

.input-news:focus {
  background-color: rgb(246, 255, 233);
}

.btn-submit-news {
  background-color: var(--color-blue-huinganco);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border: none;
  height: 100%;
  width: 40%;
  font: 18px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.btn-submit-news:hover {
  width: 160px;
}

.footer-caja-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  width: 100%;
  border-top: #858585 1px solid;
  gap: 2em;
}

.ctn-rights {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
height: 50px;

  background-color: rgb(39, 39, 39);
  color: floralwhite;

}

.ctn-rights img {
  width: 80px;
}


/*-------------------------
          RESPONSIVE
--------------------------*/
@media (max-width: 891px) {
  :root {
    --font-title: 24px;
    --font-sub-title: 22px;
    --font-normal: 13px;
    --fs-text-16: 14px;
  }

  /* HEADER */

  .logo-mobile {
    z-index: 9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }

  .logo-mobile img {
    width: 35px;
    margin: auto;
  }

  #logoDesktop {
    display: none;
  }

  .nav {
    display: none;

  }

  /*  JOYAS*/
  .bloque-joyas {
    min-height: auto;
    padding-bottom: 20px;
  }

  .text-desktop {
    display: none;
  }

  /*  */
  /* BANNER */
  .banner {
    justify-content: center;
    height: 48vh;
  }

  .content-banner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: end;
    flex-direction: column;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  /* -------------------DesplegableMobile-------------------  */

  .dropdown {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .burger {
    position: relative;
    width: 20px;
    height: 25px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 20px;
    z-index: 9;
    pointer-events: none;
  }

  .dropdown-menu {
    position: absolute;
    background-color: var(--backG);
    height: 100vh;
    width: 70%;
    text-align: right;
    transform: translate(100%);
    transition: 0.5s ease-out;
    top: calc(100% + 1em);
    justify-content: right;
    display: flex;
    flex-direction: column;
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    z-index: 15;
  }

  .label-dropdown-mobile2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 45px;

    bottom: -10px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }

  #label-dropdown-mobile {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  #dropdown-mobile:checked~#label-dropdown-mobile {
    position: fixed;
    background-color: #0000007b;
    z-index: 1;
    height: 100vh;
    width: 100%;
    right: 0px;
    top: 56px;
  }

  #dropdown-mobile {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #dropdown-mobile:checked~.dropdown-menu {
    transform: translate(0px);
  }

  .btn-menu-dropdown {

    width: 100%;
    font-size: 14px;
    padding: 1em 2em 1em 2em;
    background-color: var(--backG);
    color: var(--header-txtColor);
    border: none;
    font-weight: 500;
    transition: 0.5s linear;
    cursor: pointer;
    outline-width: 1px;
    outline-color: var(--backG);
    outline-style: solid;
    text-decoration: none;
  }

  #btn-themes-Mobile {
    padding: 0.5em 2em;
    width: 100%;
    height: 50px;
    background-color: var(--backG);
    transition: 0.5s linear;
  }

  .btn-menu-dropdown:hover,
  #btn-themes-Mobile:hover {
    color: black;
    background-color: #e3fcbe;
  }




  .burger .bar {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #84c948;
    border-radius: 8px;
    position: absolute;
    top: calc(70% - 6px);
    left: 0;
    transition: all 0.5s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  #dropdown-mobile~.burger span:first-child {
    transform: translateY(-31.5px);
    animation-name: rotate-base-1;
  }

  #dropdown-mobile:checked~.burger span:first-child {
    animation-name: rotate-1;
  }

  #dropdown-mobile~.burger span:last-child {
    transform: translateY(31.5px);
    animation-name: rotate-base-2;
  }

  #dropdown-mobile:checked~.burger span:last-child {
    animation-name: rotate-2;
  }

  #dropdown-mobile:checked~.burger span:nth-child(2) {
    opacity: 0;
    transform: scale(0);
  }

  /* -------------------AnimacionBurger-------------------  */
  @keyframes rotate-1 {

    /* X */
    0% {
      transform: translateY(-6px);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: rotate(-45deg);
      background-color: #ff6294;
    }
  }

  @keyframes rotate-base-1 {

    /* Y */
    0% {
      transform: translateY(0) rotate(-45deg);
      background-color: #ff6294;
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: translateY(-6px);
    }
  }

  @keyframes rotate-2 {

    /* X */
    0% {
      transform: translateY(6px);
    }

    50% {
      transform: translateY(0);
    }

    100% {
      transform: rotate(45deg);
      background-color: #ff6294;
    }
  }

  @keyframes rotate-base-2 {

    /* Y */
    0% {
      transform: translateY(0) rotate(45deg);
      background-color: #ff6294;
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: translateY(6px);
    }
  }

  /* FOOTER */
  .footer-cnt {
    padding-left: 0;
  }

  #form-news {
    width: 270px;
  }

  .footer-caja {
    padding-left: 1.5em;
  }

  .ctn-form {
    width: 90%;
  }

  .ctn-rights {
    font-size: 10px;
  }

  #btn-mobile-theme {
    display: none;
  }

  /* WAVE */
  .custom-shape-divider-bottom-1664583424 svg {
    width: calc(240% + 500.3px);
    height: 50px;
  }

  .label-theme {
    width: 100%;
  }
}